@model Agendador.Models.Agenda

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalhes</h1>

<div>
    <h4>Agenda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicioD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicioD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFimD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFimD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndrStatusN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndrStatusN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clinica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clinica.DescNomeA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paciente.DescNomeA)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AgendaId">Editar</a>
    <a asp-action="Index">Voltar para Lista de Consultas</a>
</div>
